.navbar {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    height: 60px;
  }
  
  .navbar img {
    width: 5px; /* Adjust as needed */
    height: auto;
    margin-left: 20px;
  }
  