<div class="container">
    <h1>Ristorante Il Gambero Rosso</h1>
<div class="card mb-3" style="max-width: 1500px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/img/rst.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Padova Province, in the North of Italy</h5>
          <p class="card-text">One of the oldest cities in northern Italy, according to a legend Padova was founded by the Trojan prince Antenor in the 1183 BC after the fall of Troy.</p> 
          <p>It is certain that there were settlements around the 10th - 11th centuries BC, the ancient town was probably one of the most important of the Veneti people.</p> 
          <p>Padova later fell under the control of the Romans during their expansion in northern Italy, grew rapidly and became one of the wealthiest cities outside of Rome.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="under-container">
<h1>Why choose us</h1>
<h2>This is the best of best Restaurant in Padova Province, in the North of Italy</h2>
<div class="para">
    <ul>
    <p>01</p>
    <h6>Best food</h6>
    <p>The best food in this city</p>
    </ul>
    <ul>
    <p>02</p>
    <h6>Best service</h6>
    <p>The best trained waiters, cooks, bartenders</p>
    </ul>
    <ul>
    <p>03</p>
    <h6>Best wine</h6>
    <p>The best wine from the best vineyards</p>
    </ul>
</div>
</div>
<div class="specials">
<h3>Check our specials</h3>
<p>Our specialties are Art and created by some of the best kitchen Chef</p>
</div>
<div class="btn-pills">
<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Buratta</button>
      <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Beef tartare</button>
      <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Jakobsmuscheln</button>
      <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Carpaccio</button>
    </div>
    <div class="tab-content text-light w-100 d-flex justify-content-center" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">  
      <img src="/assets/img/burrata.jpg" alt="">
      </div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
      <img src="/assets/img/beef.jpg" alt="">
      </div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
      <img src="/assets/img/jako.jpg" alt="">
      </div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">
      <img src="/assets/img/carpo.jpg" alt="">
      </div>
    </div>
  </div>
</div>
